
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sticker-container {
    /* position: absolute; */
    width: 100vh;
    height: 100vh;
    border: 2px solid red;

}

/* ******************************** */

.sticker-note {
    position: absolute;
    display: flex;
    flex-direction: column;
    width:300px;
    height:400px;
    border: 1px solid black;
    overflow: hidden;
}
/**************************/
.top-bar { 
    display:flex;
    justify-content: space-between;
    background-color: rgb(255, 175, 213);
}

.top-bar button {
    width:35px;
    height:35px;

    border: none;
    background-color: unset;

    /* 마우스 올렸을 때*/
    cursor: pointer; 
    &:hover {
        background-color: rgb(255, 255, 255);
    }
}

/**************************/

.sticker-note > textarea {
    flex: 1;
    resize: none;
    padding: 10px;
    font-size: 20px;
    border: unset;
    background-color: rgb(255, 255, 151);
    
}

.side-bar {
    position: absolute; /* 다른 영역와 상관없이 독자적으로 */
    width: 150px;
    height: 100%; /*absoluted이기에 부모기준으로 100%*/
    border: 1px solid black;
    left: -160px;
    transition-duration: 1ms;
    background-color: white;
}

.side-bar[active] {
    left: 0px;
}

.side-bar ul {
    height: 100%;
    /*overflow-y: scroll; /* 오버플로어 안되어도 계속 스크롤 있음*/
    overflow-y: auto; /* 오버플로어되면 스크롤이 나타남*/
}
.side-bar li {
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 40px;
    text-overflow: ellipsis;
    
    list-style: none;
    border-bottom: 1px soild black;

    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

    background-color:deepskyblue;
    &:hover {
        background-color: blue;
    }
}