*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#city-input-container{
    display: flex; /* 꽉 차면서 가장자리 붙게 됨*/
    width: 200px;
    position: relative; /* 내 위치를 기준으로 */
     /* 부모인 city-input-container에 
    position: relative;
    
    자식인 city-list-container에
    position: absolute;를 하는 것이 일반적인 모습
    */
    top: 100px;
    margin: 0 auto;
}

#city-input-container > input{
    flex: 1; /* 부모의 남는 부분을 꽉 채움*/
    padding: 2px 5px;
    border: unset; /* 스타일을 새로 적용시킬 때, 초기화 용도*/
    border-bottom: 1px solid black;
    outline: unset;
}
#location-btn{
    position: absolute; /* 독자적으로 움직임*/
    top: 50%;
    right: 10px;
    /* 부모인 city-input-containe 안에서
    윗쪽 50%, 오른쪽 10px에 붙음*/
    transform: translateY(-50%);

    background-color: unset;
    border: unset;
    color: red;

}

/**********************************************/
#city-list-container{
    display: none; /* 기본은 display:none인데,
    active 속성이 들어오면
    맨밑에 보면 알듯이
    display: block;로 바뀜
    */ 
    position: absolute; /* 독자적으로 움직임*/
    /* 부모인 city-input-container에 
    position: relative;
    
    자식인 city-list-container에
    position: absolute;를 하는 것이 일반적인 모습
    */
    width: 400px;
    padding: 10px;
    bottom: -300px;
    background-color: white;
    border: 1px solid black;
    &[active] {
        display: block;
    }
}
#city-search-container{
    /* background-color: aqua; */
}
#city-search-container > label{
    display: flex; /* 꽉 차면서 가장자리 붙게 됨*/
    padding: 2px 4px;
    border-bottom: 2px solid rgba(255,0,0,0.7);
}
#city-search-container i{
    margin-right: 5px;
}
#city-search-container input{
    flex: 1;  /* 부모의 남는 부분을 꽉 채움*/
    
    border: unset;
    outline: unset;
}
/******************************************************/
#country-city-list-container{
    display: flex;
    margin-top: 10px;
}
#country-city-list-container ul{
    list-style: none;
}
#country-city-list-container li{
    display: flex;
    padding: 5px 10px;
    justify-content: space-between; /* li 안에있는 요소들을 양쪽 배치하라*/
    cursor: pointer;
    &:hover{
        background-color: white;
    }
    &:hover span:first-child{
        font-weight: bold;
        color: red;
    }
}

/* 대한민국 일본*/
#country-city-list-container > div:first-child{
    flex: 1;
    margin-right: 10px;
    background-color: gainsboro;
}
#country-city-list-container > div:last-child{
    flex: 2;
    background-color: white;
}
/********************************************/
#country-container li:hover{
    background-color: white;
}

#city-container ul {
    display: none;
    &[active] {
        display: block;
    }
    /* 기본은  display: none;인데,
    active가 들어오면 display: block;*/
    
}